/******************** General Styles ********************/

body {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

a.act {
	background-color: lightgreen;
}

a:hover {
	text-decoration: underline;
}

/******************** Specific Styles ********************/

#tnb {
	background-color: lightgrey;
}

.cd {
	color: grey;
}

/******************** Data Structures ********************/

.hlinks a {
	margin: 0;
	padding: .1em .6em .1em .6em;
	display: inline-block;
}

.vlinks {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
}

.vlinks h2 {
	margin: .8em 1em .5em 0;
	padding: 0;
}

.vlinks a {
	margin: .4em 1em 0 0;
	padding: 0;
}

.vlinks h2 {
	border-bottom: 1px solid black;
}

.vlinks a {
	display: block;
}

.docblock h2 {
	border-bottom: 1px solid #BBBBBB;
}

.docblock .attrlist {
	margin: 0 0 0 2em;
}

.docblock .attrlist .unit {
	margin: .5em 0 .5em 13px;
}

.docblock .attrlist .unit.readonly:before {
	margin-left: -18px;
	content: url("g/lock.png");
}

.docblock .attrlist h1 {
	display: inline;
	padding: 0;
	font-size: 11pt;
}

.docblock .attrlist h1:after {
	content: ":";
}

.docblock .attrlist p {
	display: inline;
	padding: 0;
	font-size: 10pt;
}
