/******************** General Styles ********************/

body {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: blue;
}

a.act {
	background-color: lightgreen;
}

a:hover {
	text-decoration: underline;
}

/******************** Specific Styles ********************/

#tnb {
	background-color: lightgrey;
}

.cd {
	color: grey;
}

/******************** Data Structures ********************/

.hlinks a {
	margin: 0;
	padding: .1em .6em .1em .6em;
	display: inline-block;
}

.vlinks {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
}

.vlinks h2 {
	margin: .8em 1em .5em 0;
	padding: 0;
}

.vlinks a {
	margin: .4em 1em 0 0;
	padding: 0;
}

.vlinks h2 {
	border-bottom: 1px solid black;
}

.vlinks a {
	display: block;
}

/******************** Specific Styles in Data Structures ********************/

.docblock h2 {
	border-bottom: 1px solid #BBBBBB;
}

.docblock .attrlist {
	margin: 0 0 0 2em;
}

.docblock .attrlist .unit {
	margin: 0 0 1.2em 13px;
	vertical-align: top;
}

.docblock .attrlist .unit h2 .cd {
	font-style: italic;
}

.docblock .attrlist .unit.readonly h1:before {
	margin-left: -13px;
	content: url("g/lock.png");
}

.docblock .attrlist h1 {
	margin: 0;
	padding: 0;
	font-size: 12pt;
}

.docblock .attrlist h2 {
	margin: 0;
	padding: 0;
	font-size: 10pt;
	font-weight: normal;
	color: grey;
	border-bottom: none;
}

.docblock .attrlist p {
	margin: .5em 0 0 2em;
	padding: 0;
	font-size: 10pt;
}

.docblock .convgraph {
	margin: 0 0 0 2em;
	padding: 0;
}

.docblock .convgraph div {
	margin: 0 13px 0 13px;
	padding: 0;
	display: inline-block;
	vertical-align: middle;
}

.docblock .convgraph .in {
	text-align: right;
}

.docblock .convgraph .center {
	margin: 0 1em 0 1em;
	text-align: center;
}

.docblock .convgraph .center p {
	margin: 0 0 6px 0;
	padding: 0;
	font-size: 8pt;
}

.docblock .convgraph .center:after {
	content: url("g/convgraph-center.png");
}

.docblock .convgraph div h1 {
	font-size: 11pt;
	display: block;
}

/******************** Code Styles ********************/

.docblock .codeblock {
	margin: 0;
	padding: 5px 7px 5px 7px;
	display: block;
	background-color: #E6E6E6;
	font-size: 10pt;
	font-family: monospace;
	overflow: auto;
}

.docblock .codeblock p {
	margin: 0;
	padding: 0;
	display: block;
	white-space: pre;
}

.docblock .codeblock .ofinterest {
	font-weight: bold;
}

.docblock .codeblock .codeblock {
	margin: 0 0 0 16px;
	padding: 0;
}

.docblock .codeblock * {
	overflow: visible;
}
