body {
	font-family: 'Lucida Grande', Geneva, Verdana, Arial, sans-serif;
}

a {
	text-decoration: none;
	color: black;
}

a.act {
	background-color: lightgreen;
}

a:hover {
	text-decoration: underline;
}

.hlinks a {
	margin: 0;
	padding: .1em .6em .1em .6em;
	display: inline-block;
}

.vlinks {
	margin: 0;
	padding: 0;
	float: left;
	display: block;
}

.vlinks h2 {
	margin: .8em 1em .5em 0;
	padding: 0;
}

.vlinks a {
	margin: .4em 1em 0 0;
	padding: 0;
}

.vlinks h2 {
	border-bottom: 1px solid black;
}

.vlinks a {
	display: block;
}

.cd {
	color: grey;
}
